<h1>Hola Rails</h1>
<%= button_to 'Productos', products_path, method: 'get' ,:class => 'btn btn-primary'%><br>
<%= button_to 'Categorías', categories_path , method: 'get' ,:class => 'btn btn-primary'%>
