<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te avisamos que tu cuenta está siendo cambiada a  <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te avisamos que tu cuenta ha cambiado a  <%= @resource.email %>.</p>
<% end %>
